<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1. Servicios de negocio del SGDEA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1. Servicios de negocio del SGDEA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-384cc19b136c4f138b9f00abb3942869.png" alt="1. Servicios de negocio del SGDEA" usemap="#id-384cc19b136c4f138b9f00abb3942869map"/>
			   <map name="id-384cc19b136c4f138b9f00abb3942869map">
				          <area shape="rect" coords="10,10,333,122" href="../objects/id-3aedbd966b9844809a9edea1c4d1ee17.html" target="element" >
				  		<area shape="rect" coords="35,292,144,347" href="../elements/id-33d81445808f41d293f27f5f9525151b.html"  target="element">
				  		<area shape="rect" coords="34,154,143,209" href="../elements/id-1da0ab48a231473ea75dbfa8aff2e7d9.html"  target="element">
				  		<area shape="rect" coords="35,224,143,279" href="../elements/id-922046c7f163466d98a2ae1681f5e216.html"  target="element">
				  				<area shape="rect" coords="682,392,802,447" href="../elements/id-50078647c82841c2a6ded1cb5bb2e761.html"  target="element">

				  		<area shape="rect" coords="598,356,815,477" href="../elements/id-9059f5e4d192445e8c7e9260c40fb5b3.html"  target="element">
				  				<area shape="rect" coords="409,476,554,531" href="../elements/id-a106bb2d3ba2442cb80ca11c2b03c01c.html"  target="element">

				  		<area shape="rect" coords="385,452,575,551" href="../elements/id-9dae7b0063a54e7b9d2c2a636d249ef8.html"  target="element">
				  				<area shape="rect" coords="682,260,802,315" href="../elements/id-ecfc18e263da4e519688e20327475016.html"  target="element">

				  		<area shape="rect" coords="598,224,815,345" href="../elements/id-0eee168ed11444d8b4104f4e4f6c648f.html"  target="element">
				  				<area shape="rect" coords="409,368,553,423" href="../elements/id-2789cc298ac349ce9c790f812531b8e4.html"  target="element">
				  				<area shape="rect" coords="409,308,553,363" href="../elements/id-d100f34bff8346269b0613ea2e04cc95.html"  target="element">
				  				<area shape="rect" coords="409,248,553,303" href="../elements/id-875ad89027a14c20b9e9b67b9e5c2d5f.html"  target="element">

				  		<area shape="rect" coords="385,224,575,441" href="../elements/id-f91deb9a90ab4821aa5af3fc284cdaa7.html"  target="element">
				  				<area shape="rect" coords="190,466,347,527" href="../elements/id-b32c2916d5d345c49359c0e238e767d7.html"  target="element">
				  				<area shape="rect" coords="190,382,347,455" href="../elements/id-58b1a5de87814007985be1f33520c705.html"  target="element">
				  				<area shape="rect" coords="190,538,347,593" href="../elements/id-cc6a03f5069f4855aaf173c95c652b50.html"  target="element">
				  				<area shape="rect" coords="190,310,347,371" href="../elements/id-8b7801ebc07748be95a6bec8f34a8142.html"  target="element">
				  				<area shape="rect" coords="190,250,347,305" href="../elements/id-9f4aff790b384fc4b727f8df3e2b2bae.html"  target="element">

				  		<area shape="rect" coords="178,226,371,611" href="../elements/id-af00ee851cc9472784b707afc0d13795.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element"> Recolecci&#243;n </a> </td>
											    <td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9f4aff790b384fc4b727f8df3e2b2bae.html" target="element"> Creaci&#243;n y captura de contenidos </a> </td>
													    <td> <a href="../elements/id-9f4aff790b384fc4b727f8df3e2b2bae.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8b7801ebc07748be95a6bec8f34a8142.html" target="element"> Indexaci&#243;n de contenido y documentos </a> </td>
													    <td> <a href="../elements/id-8b7801ebc07748be95a6bec8f34a8142.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc6a03f5069f4855aaf173c95c652b50.html" target="element"> Procesamiento de im&#225;genes </a> </td>
													    <td> <a href="../elements/id-cc6a03f5069f4855aaf173c95c652b50.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58b1a5de87814007985be1f33520c705.html" target="element"> B&#250;squeda y recuperaci&#243;n de contenido y recuperaci&#243;n </a> </td>
													    <td> <a href="../elements/id-58b1a5de87814007985be1f33520c705.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b32c2916d5d345c49359c0e238e767d7.html" target="element"> Clasificaci&#243;n de contenido y documentos </a> </td>
													    <td> <a href="../elements/id-b32c2916d5d345c49359c0e238e767d7.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f91deb9a90ab4821aa5af3fc284cdaa7.html" target="element"> Gesti&#243;n </a> </td>
											    <td> <a href="../elements/id-f91deb9a90ab4821aa5af3fc284cdaa7.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-875ad89027a14c20b9e9b67b9e5c2d5f.html" target="element"> Flujos de trabajo </a> </td>
													    <td> <a href="../elements/id-875ad89027a14c20b9e9b67b9e5c2d5f.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d100f34bff8346269b0613ea2e04cc95.html" target="element"> Edici&#243;n y revisi&#243;n de documentos </a> </td>
													    <td> <a href="../elements/id-d100f34bff8346269b0613ea2e04cc95.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2789cc298ac349ce9c790f812531b8e4.html" target="element"> Administraci&#243;n de metadatos </a> </td>
													    <td> <a href="../elements/id-2789cc298ac349ce9c790f812531b8e4.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0eee168ed11444d8b4104f4e4f6c648f.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-0eee168ed11444d8b4104f4e4f6c648f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ecfc18e263da4e519688e20327475016.html" target="element"> Repositorios </a> </td>
													    <td> <a href="../elements/id-ecfc18e263da4e519688e20327475016.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9dae7b0063a54e7b9d2c2a636d249ef8.html" target="element"> Preservaci&#243;n </a> </td>
											    <td> <a href="../elements/id-9dae7b0063a54e7b9d2c2a636d249ef8.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a106bb2d3ba2442cb80ca11c2b03c01c.html" target="element"> Pol&#237;ticas y est&#225;ndares de preservaci&#243;n </a> </td>
													    <td> <a href="../elements/id-a106bb2d3ba2442cb80ca11c2b03c01c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9059f5e4d192445e8c7e9260c40fb5b3.html" target="element"> Entrega </a> </td>
											    <td> <a href="../elements/id-9059f5e4d192445e8c7e9260c40fb5b3.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-50078647c82841c2a6ded1cb5bb2e761.html" target="element"> Distribuci&#243;n </a> </td>
													    <td> <a href="../elements/id-50078647c82841c2a6ded1cb5bb2e761.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-922046c7f163466d98a2ae1681f5e216.html" target="element"> Usuario de registros </a> </td>
											    <td> <a href="../elements/id-922046c7f163466d98a2ae1681f5e216.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1da0ab48a231473ea75dbfa8aff2e7d9.html" target="element"> Administrador de registros </a> </td>
											    <td> <a href="../elements/id-1da0ab48a231473ea75dbfa8aff2e7d9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-33d81445808f41d293f27f5f9525151b.html" target="element"> Especialista t&#233;cnico </a> </td>
											    <td> <a href="../elements/id-33d81445808f41d293f27f5f9525151b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-3aedbd966b9844809a9edea1c4d1ee17.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3aedbd966b9844809a9edea1c4d1ee17.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d27d58b3b9f94cd5b55a8a620540b10d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d27d58b3b9f94cd5b55a8a620540b10d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-cc6a03f5069f4855aaf173c95c652b50.html" target="element"> Procesamiento de im&#225;genes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acd9f7217f90477eb545697051ca2da1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acd9f7217f90477eb545697051ca2da1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-8b7801ebc07748be95a6bec8f34a8142.html" target="element"> Indexaci&#243;n de contenido y documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1d8195acb8a4e58b4caba1fa1592d09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1d8195acb8a4e58b4caba1fa1592d09.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-58b1a5de87814007985be1f33520c705.html" target="element"> B&#250;squeda y recuperaci&#243;n de contenido y recuperaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea315e8505314033b4fdc83c7e39688b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea315e8505314033b4fdc83c7e39688b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-b32c2916d5d345c49359c0e238e767d7.html" target="element"> Clasificaci&#243;n de contenido y documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17660cc030734259ab5339cf241e912d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17660cc030734259ab5339cf241e912d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-9f4aff790b384fc4b727f8df3e2b2bae.html" target="element"> Creaci&#243;n y captura de contenidos </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f5fd1c53575044ce886bc1a3c4db8825.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5fd1c53575044ce886bc1a3c4db8825.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-f91deb9a90ab4821aa5af3fc284cdaa7.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-875ad89027a14c20b9e9b67b9e5c2d5f.html" target="element"> Flujos de trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24014d3d37a141739fecb43d3d1754d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24014d3d37a141739fecb43d3d1754d0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-f91deb9a90ab4821aa5af3fc284cdaa7.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-2789cc298ac349ce9c790f812531b8e4.html" target="element"> Administraci&#243;n de metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c5ae890d8324e6db76e881d41cce317.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c5ae890d8324e6db76e881d41cce317.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-f91deb9a90ab4821aa5af3fc284cdaa7.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-d100f34bff8346269b0613ea2e04cc95.html" target="element"> Edici&#243;n y revisi&#243;n de documentos </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f5f9dbd9b3ae4cb6ad806b8941860d93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5f9dbd9b3ae4cb6ad806b8941860d93.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-0eee168ed11444d8b4104f4e4f6c648f.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-ecfc18e263da4e519688e20327475016.html" target="element"> Repositorios </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2d31e4376d5a4eb387757ecbc7067120.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d31e4376d5a4eb387757ecbc7067120.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-9dae7b0063a54e7b9d2c2a636d249ef8.html" target="element"> Preservaci&#243;n </a> </td>
																		<td> <a href="../elements/id-a106bb2d3ba2442cb80ca11c2b03c01c.html" target="element"> Pol&#237;ticas y est&#225;ndares de preservaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9569d823b0a34b428c1db8d8dea05be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9569d823b0a34b428c1db8d8dea05be5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-9059f5e4d192445e8c7e9260c40fb5b3.html" target="element"> Entrega </a> </td>
																		<td> <a href="../elements/id-50078647c82841c2a6ded1cb5bb2e761.html" target="element"> Distribuci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-62cbdbb3c09f4508aada0f7d432d5edf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62cbdbb3c09f4508aada0f7d432d5edf.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-922046c7f163466d98a2ae1681f5e216.html" target="element"> Usuario de registros </a> </td>
																		<td> <a href="../elements/id-9059f5e4d192445e8c7e9260c40fb5b3.html" target="element"> Entrega </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51ae368ca9a0446c96c58a1f451b7bfb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51ae368ca9a0446c96c58a1f451b7bfb.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-922046c7f163466d98a2ae1681f5e216.html" target="element"> Usuario de registros </a> </td>
																		<td> <a href="../elements/id-9dae7b0063a54e7b9d2c2a636d249ef8.html" target="element"> Preservaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e979ffd18fb43c3960fe9a2776b8843.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e979ffd18fb43c3960fe9a2776b8843.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-922046c7f163466d98a2ae1681f5e216.html" target="element"> Usuario de registros </a> </td>
																		<td> <a href="../elements/id-af00ee851cc9472784b707afc0d13795.html" target="element"> Recolecci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c53036d0290c442aaaa45675a622d333.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c53036d0290c442aaaa45675a622d333.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-1da0ab48a231473ea75dbfa8aff2e7d9.html" target="element"> Administrador de registros </a> </td>
																		<td> <a href="../elements/id-f91deb9a90ab4821aa5af3fc284cdaa7.html" target="element"> Gesti&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c1f84b32f6a429a97097d46f4c8c5d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c1f84b32f6a429a97097d46f4c8c5d1.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-33d81445808f41d293f27f5f9525151b.html" target="element"> Especialista t&#233;cnico </a> </td>
																		<td> <a href="../elements/id-0eee168ed11444d8b4104f4e4f6c648f.html" target="element"> Almacenamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d8a798bb1673477795abb511c81e5d4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d8a798bb1673477795abb511c81e5d4e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-33d81445808f41d293f27f5f9525151b.html" target="element"> Especialista t&#233;cnico </a> </td>
																		<td> <a href="../elements/id-9dae7b0063a54e7b9d2c2a636d249ef8.html" target="element"> Preservaci&#243;n </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>