<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3. Infraestructura</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3. Infraestructura</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7fa0556a67034d71b3305632f244fac7.png" alt="3. Infraestructura" usemap="#id-7fa0556a67034d71b3305632f244fac7map"/>
			   <map name="id-7fa0556a67034d71b3305632f244fac7map">
				  		<area shape="rect" coords="999,1035,1119,1090" href="../elements/id-473aa09c5b5b4834b39a9c25cda272c9.html"  target="element">
				          <area shape="rect" coords="10,10,231,90" href="../objects/id-b0c15fc5bf384b03b963c570d003bc9f.html" target="element" >
				  				<area shape="rect" coords="208,1032,328,1087" href="../elements/id-1c2e9c30ba2c4220bd4170b668c004b9.html"  target="element">
				  				<area shape="rect" coords="208,962,328,1017" href="../elements/id-6f41f48967174fd69093d900a6880a2c.html"  target="element">
				  				<area shape="rect" coords="208,900,328,955" href="../elements/id-097a18ce29e64e3c9366c1deee71a275.html"  target="element">

				  		<area shape="rect" coords="136,840,358,1140" href="../elements/id-8f2b7d50eab949fdb85d7843935f5a79.html"  target="element">
				  		<area shape="rect" coords="999,1107,1119,1162" href="../elements/id-4ee4f8226a154e3dad1f919332c2b2c6.html"  target="element">
				  		<area shape="rect" coords="999,972,1119,1027" href="../elements/id-47ef0128c0ad4eb8b517314b4b872e37.html"  target="element">
				  		<area shape="rect" coords="999,902,1119,957" href="../elements/id-280e51b9af554c6488c24b474df79c96.html"  target="element">
				  		<area shape="rect" coords="999,840,1119,895" href="../elements/id-0826bdf617cc4a668f42f075652d62eb.html"  target="element">
				  		<area shape="rect" coords="386,740,708,795" href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html"  target="element">
				  				<area shape="rect" coords="734,1032,878,1087" href="../elements/id-0892e2df9b6f4caf8b16a39a3ef1c503.html"  target="element">
				  				<area shape="rect" coords="734,960,878,1015" href="../elements/id-07c9734080354c8596fdb364c70f4972.html"  target="element">
				  				<area shape="rect" coords="422,1032,722,1087" href="../elements/id-ba9d6c71357547c0855df1107a525638.html"  target="element">
				  				<area shape="rect" coords="578,960,722,1015" href="../elements/id-56b0e3b836524df29e38a058bac3538a.html"  target="element">
				  				<area shape="rect" coords="422,960,566,1015" href="../elements/id-e9f15725f691439eb1842029590a078c.html"  target="element">
				  				<area shape="rect" coords="578,888,722,943" href="../elements/id-b838d663303e4a29a04ae9bc08962a97.html"  target="element">
				  				<area shape="rect" coords="422,888,566,943" href="../elements/id-68968ac8d82e48708d127de8dff1663d.html"  target="element">

				  		<area shape="rect" coords="386,840,934,1212" href="../elements/id-5bcfce71923949e1bf886a330122116c.html"  target="element">
				  		<area shape="rect" coords="136,740,352,795" href="../elements/id-cd19431487314ab2b593af8c1f39cb16.html"  target="element">
				  				<area shape="rect" coords="721,468,841,523" href="../elements/id-2b969a209451403a85609d1a34fae8ed.html"  target="element">
				  				<area shape="rect" coords="721,408,841,463" href="../elements/id-efcdd7b186e04b539793c81ef606d17d.html"  target="element">
				  				<area shape="rect" coords="721,348,841,403" href="../elements/id-13a049b9aa2e40039f5d181a5bfd9ccc.html"  target="element">
				  				<area shape="rect" coords="721,288,841,343" href="../elements/id-d9f52bb1bdda4d3a83a58df894d842b2.html"  target="element">
				  				<area shape="rect" coords="721,228,841,283" href="../elements/id-221af5e0554a4a5f9f083d79fa4c2151.html"  target="element">
				  				<area shape="rect" coords="721,168,841,223" href="../elements/id-3193975bf9804ac0a04283426eb3771d.html"  target="element">

				  		<area shape="rect" coords="685,132,865,564" href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html"  target="element">
				  		<area shape="rect" coords="505,288,625,343" href="../elements/id-13d8158295524064b27a99ea7be8aa10.html"  target="element">
				  				<area shape="rect" coords="505,228,625,283" href="../elements/id-b189b4403d0541858b786cf74c331501.html"  target="element">
				  				<area shape="rect" coords="505,168,625,223" href="../elements/id-0d461866ae534494ae5ac3f5f9ce5467.html"  target="element">

				  		<area shape="rect" coords="469,132,661,420" href="../elements/id-f978b91644e94ccc8686b33ac419e604.html"  target="element">
				  				<area shape="rect" coords="289,408,409,463" href="../elements/id-16294f12b7914140a75e62f934020ef2.html"  target="element">
				  				<area shape="rect" coords="289,348,409,403" href="../elements/id-949633793a2a429aad50b0db5b7de007.html"  target="element">
				  				<area shape="rect" coords="289,288,409,343" href="../elements/id-f5d982a9414e4d9dab698cbcc7ff4cba.html"  target="element">
				  				<area shape="rect" coords="289,228,409,283" href="../elements/id-654b1fd15033491995d32e626c4839d5.html"  target="element">
				  				<area shape="rect" coords="289,168,409,223" href="../elements/id-65eb1966054b48cabe47798362cf3daa.html"  target="element">

				  		<area shape="rect" coords="253,132,445,480" href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html"  target="element">
				  				<area shape="rect" coords="74,528,194,583" href="../elements/id-caeed8e99345487bad41465967204105.html"  target="element">
				  				<area shape="rect" coords="74,348,194,403" href="../elements/id-fa9021b167e04b2eba978a86ee1795a5.html"  target="element">
				  				<area shape="rect" coords="74,468,194,523" href="../elements/id-55560934449944519391cef7aafa38bd.html"  target="element">
				  				<area shape="rect" coords="74,408,194,463" href="../elements/id-68c92ba49cb64d578ecd7fdd5d7c0c27.html"  target="element">
				  				<area shape="rect" coords="74,288,194,343" href="../elements/id-c75a28f31b2c44a9a660369da1c6a1c3.html"  target="element">
				  				<area shape="rect" coords="74,228,194,283" href="../elements/id-269968a60c9c44dabe78f1906eca599b.html"  target="element">
				  				<area shape="rect" coords="74,168,194,223" href="../elements/id-04b31d4acc9c4f719590593016ae6ae6.html"  target="element">

				  		<area shape="rect" coords="38,132,230,624" href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
											    <td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-04b31d4acc9c4f719590593016ae6ae6.html" target="element"> Producci&#243;n </a> </td>
													    <td> <a href="../elements/id-04b31d4acc9c4f719590593016ae6ae6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-269968a60c9c44dabe78f1906eca599b.html" target="element"> Extracci&#243;n </a> </td>
													    <td> <a href="../elements/id-269968a60c9c44dabe78f1906eca599b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c75a28f31b2c44a9a660369da1c6a1c3.html" target="element"> Lectura </a> </td>
													    <td> <a href="../elements/id-c75a28f31b2c44a9a660369da1c6a1c3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-68c92ba49cb64d578ecd7fdd5d7c0c27.html" target="element"> Digitalizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-68c92ba49cb64d578ecd7fdd5d7c0c27.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55560934449944519391cef7aafa38bd.html" target="element"> Gestor de correo electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-55560934449944519391cef7aafa38bd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fa9021b167e04b2eba978a86ee1795a5.html" target="element"> Clasificaci&#243;n </a> </td>
													    <td> <a href="../elements/id-fa9021b167e04b2eba978a86ee1795a5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-caeed8e99345487bad41465967204105.html" target="element"> Procesador de texto </a> </td>
													    <td> <a href="../elements/id-caeed8e99345487bad41465967204105.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element"> Gesti&#243;n </a> </td>
											    <td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-65eb1966054b48cabe47798362cf3daa.html" target="element"> Administraci&#243;n documental </a> </td>
													    <td> <a href="../elements/id-65eb1966054b48cabe47798362cf3daa.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-654b1fd15033491995d32e626c4839d5.html" target="element"> Tr&#225;mite y organizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-654b1fd15033491995d32e626c4839d5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f5d982a9414e4d9dab698cbcc7ff4cba.html" target="element"> Accesos </a> </td>
													    <td> <a href="../elements/id-f5d982a9414e4d9dab698cbcc7ff4cba.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-949633793a2a429aad50b0db5b7de007.html" target="element"> Metadatos </a> </td>
													    <td> <a href="../elements/id-949633793a2a429aad50b0db5b7de007.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-16294f12b7914140a75e62f934020ef2.html" target="element"> Versiones </a> </td>
													    <td> <a href="../elements/id-16294f12b7914140a75e62f934020ef2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f978b91644e94ccc8686b33ac419e604.html" target="element"> Distribuci&#243;n </a> </td>
											    <td> <a href="../elements/id-f978b91644e94ccc8686b33ac419e604.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0d461866ae534494ae5ac3f5f9ce5467.html" target="element"> Difusi&#243;n y consulta </a> </td>
													    <td> <a href="../elements/id-0d461866ae534494ae5ac3f5f9ce5467.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b189b4403d0541858b786cf74c331501.html" target="element"> Entrega </a> </td>
													    <td> <a href="../elements/id-b189b4403d0541858b786cf74c331501.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-13d8158295524064b27a99ea7be8aa10.html" target="element"> Navegaci&#243;n y visualizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-13d8158295524064b27a99ea7be8aa10.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3193975bf9804ac0a04283426eb3771d.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-3193975bf9804ac0a04283426eb3771d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-221af5e0554a4a5f9f083d79fa4c2151.html" target="element"> Foliaci&#243;n </a> </td>
													    <td> <a href="../elements/id-221af5e0554a4a5f9f083d79fa4c2151.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d9f52bb1bdda4d3a83a58df894d842b2.html" target="element"> Indexaci&#243;n </a> </td>
													    <td> <a href="../elements/id-d9f52bb1bdda4d3a83a58df894d842b2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-13a049b9aa2e40039f5d181a5bfd9ccc.html" target="element"> Metadatos </a> </td>
													    <td> <a href="../elements/id-13a049b9aa2e40039f5d181a5bfd9ccc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-efcdd7b186e04b539793c81ef606d17d.html" target="element"> Firmas digitales y electr&#243;nicas </a> </td>
													    <td> <a href="../elements/id-efcdd7b186e04b539793c81ef606d17d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b969a209451403a85609d1a34fae8ed.html" target="element"> Estampas cronol&#243;gicas </a> </td>
													    <td> <a href="../elements/id-2b969a209451403a85609d1a34fae8ed.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cd19431487314ab2b593af8c1f39cb16.html" target="element"> Bus de almacenamiento </a> </td>
											    <td> <a href="../elements/id-cd19431487314ab2b593af8c1f39cb16.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element"> Infraestructura SGDEA </a> </td>
											    <td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-68968ac8d82e48708d127de8dff1663d.html" target="element"> SQL Server Process engine </a> </td>
													    <td> <a href="../elements/id-68968ac8d82e48708d127de8dff1663d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b838d663303e4a29a04ae9bc08962a97.html" target="element"> SQL Server content engine </a> </td>
													    <td> <a href="../elements/id-b838d663303e4a29a04ae9bc08962a97.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9f15725f691439eb1842029590a078c.html" target="element"> Motor de procesos de negocio </a> </td>
													    <td> <a href="../elements/id-e9f15725f691439eb1842029590a078c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-56b0e3b836524df29e38a058bac3538a.html" target="element"> Motor de procesos de contenido </a> </td>
													    <td> <a href="../elements/id-56b0e3b836524df29e38a058bac3538a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba9d6c71357547c0855df1107a525638.html" target="element"> Servidor de aplicaciones SGDEA </a> </td>
													    <td> <a href="../elements/id-ba9d6c71357547c0855df1107a525638.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07c9734080354c8596fdb364c70f4972.html" target="element"> Motor de procesos de flujos de trabajo </a> </td>
													    <td> <a href="../elements/id-07c9734080354c8596fdb364c70f4972.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0892e2df9b6f4caf8b16a39a3ef1c503.html" target="element"> Firmas digitales y electr&#243;nicas </a> </td>
													    <td> <a href="../elements/id-0892e2df9b6f4caf8b16a39a3ef1c503.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html" target="element"> Bus de comunicaci&#243;n </a> </td>
											    <td> <a href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0826bdf617cc4a668f42f075652d62eb.html" target="element"> Directorio activo </a> </td>
											    <td> <a href="../elements/id-0826bdf617cc4a668f42f075652d62eb.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-280e51b9af554c6488c24b474df79c96.html" target="element"> Correo electr&#243;nico </a> </td>
											    <td> <a href="../elements/id-280e51b9af554c6488c24b474df79c96.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47ef0128c0ad4eb8b517314b4b872e37.html" target="element"> Dispositivos de lectura QR </a> </td>
											    <td> <a href="../elements/id-47ef0128c0ad4eb8b517314b4b872e37.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ee4f8226a154e3dad1f919332c2b2c6.html" target="element"> Sistema de archivos </a> </td>
											    <td> <a href="../elements/id-4ee4f8226a154e3dad1f919332c2b2c6.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f2b7d50eab949fdb85d7843935f5a79.html" target="element"> Infraestructura de almacenamiento </a> </td>
											    <td> <a href="../elements/id-8f2b7d50eab949fdb85d7843935f5a79.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-097a18ce29e64e3c9366c1deee71a275.html" target="element"> SAN </a> </td>
													    <td> <a href="../elements/id-097a18ce29e64e3c9366c1deee71a275.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f41f48967174fd69093d900a6880a2c.html" target="element"> NAS </a> </td>
													    <td> <a href="../elements/id-6f41f48967174fd69093d900a6880a2c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c2e9c30ba2c4220bd4170b668c004b9.html" target="element"> Remoto (nube) </a> </td>
													    <td> <a href="../elements/id-1c2e9c30ba2c4220bd4170b668c004b9.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b0c15fc5bf384b03b963c570d003bc9f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b0c15fc5bf384b03b963c570d003bc9f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-473aa09c5b5b4834b39a9c25cda272c9.html" target="element"> Bases de datos </a> </td>
											    <td> <a href="../elements/id-473aa09c5b5b4834b39a9c25cda272c9.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ebd3fe052d52403bb4bcc0c1b8617c81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebd3fe052d52403bb4bcc0c1b8617c81.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-55560934449944519391cef7aafa38bd.html" target="element"> Gestor de correo electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73ddb17387714669b10c2e9879cf38f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73ddb17387714669b10c2e9879cf38f2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-04b31d4acc9c4f719590593016ae6ae6.html" target="element"> Producci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b8831254a074931844723f79f81eb4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b8831254a074931844723f79f81eb4a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-fa9021b167e04b2eba978a86ee1795a5.html" target="element"> Clasificaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a154952375dd4cc6bd9b36985b9eb222.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a154952375dd4cc6bd9b36985b9eb222.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-caeed8e99345487bad41465967204105.html" target="element"> Procesador de texto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-271dca6ff6fc4746b54c8142c226f822.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-271dca6ff6fc4746b54c8142c226f822.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-269968a60c9c44dabe78f1906eca599b.html" target="element"> Extracci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d310a92bcf749d98d67e8dfc69394a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d310a92bcf749d98d67e8dfc69394a6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-68c92ba49cb64d578ecd7fdd5d7c0c27.html" target="element"> Digitalizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-014d46ab3f1e4993b0a4136a29140631.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-014d46ab3f1e4993b0a4136a29140631.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-c75a28f31b2c44a9a660369da1c6a1c3.html" target="element"> Lectura </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cedf4669980445beb841198c15099a90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cedf4669980445beb841198c15099a90.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-949633793a2a429aad50b0db5b7de007.html" target="element"> Metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b8b5359134c44108f4238b39324553a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b8b5359134c44108f4238b39324553a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-65eb1966054b48cabe47798362cf3daa.html" target="element"> Administraci&#243;n documental </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-860f78f93a544ef5b525e62aa5eef55e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-860f78f93a544ef5b525e62aa5eef55e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-f5d982a9414e4d9dab698cbcc7ff4cba.html" target="element"> Accesos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65a64dbf2baa4182bf30c9c139b5c5b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65a64dbf2baa4182bf30c9c139b5c5b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-16294f12b7914140a75e62f934020ef2.html" target="element"> Versiones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3ae108a7f7c41cdb63bb5213c3fb32c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3ae108a7f7c41cdb63bb5213c3fb32c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-654b1fd15033491995d32e626c4839d5.html" target="element"> Tr&#225;mite y organizaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b2a18c75cf4e4ee08a1e97c7dc9c4480.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2a18c75cf4e4ee08a1e97c7dc9c4480.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f978b91644e94ccc8686b33ac419e604.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-0d461866ae534494ae5ac3f5f9ce5467.html" target="element"> Difusi&#243;n y consulta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e6194fab4584b61a8de6f8cfeed31ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e6194fab4584b61a8de6f8cfeed31ee.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f978b91644e94ccc8686b33ac419e604.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-b189b4403d0541858b786cf74c331501.html" target="element"> Entrega </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b6105c3e95254a719854e6fbdb60b8e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6105c3e95254a719854e6fbdb60b8e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-2b969a209451403a85609d1a34fae8ed.html" target="element"> Estampas cronol&#243;gicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-631273e3e7ca4eb498a0b69ce87d5869.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-631273e3e7ca4eb498a0b69ce87d5869.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-3193975bf9804ac0a04283426eb3771d.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e69a3ff8d674e84bd0c94a36c4e80c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e69a3ff8d674e84bd0c94a36c4e80c2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-d9f52bb1bdda4d3a83a58df894d842b2.html" target="element"> Indexaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2683ea07d12433390d0431f070dd2d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2683ea07d12433390d0431f070dd2d7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-efcdd7b186e04b539793c81ef606d17d.html" target="element"> Firmas digitales y electr&#243;nicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01b9ded9815840429adccdd621b4d32e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01b9ded9815840429adccdd621b4d32e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-221af5e0554a4a5f9f083d79fa4c2151.html" target="element"> Foliaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f52bf80787f34c9484fb338b3495c157.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f52bf80787f34c9484fb338b3495c157.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-13a049b9aa2e40039f5d181a5bfd9ccc.html" target="element"> Metadatos </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-77f6938fe90a4505aa287232d93e10e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77f6938fe90a4505aa287232d93e10e4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-cd19431487314ab2b593af8c1f39cb16.html" target="element"> Bus de almacenamiento </a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b776f846f90439f8827465e77e0b1ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b776f846f90439f8827465e77e0b1ef.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element"> Infraestructura SGDEA </a> </td>
																		<td> <a href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html" target="element"> Bus de comunicaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e0d634b4f03c4d1dbf5f1886732c7548.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0d634b4f03c4d1dbf5f1886732c7548.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html" target="element"> Bus de comunicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-c3348f9f207049dc9cf8ad155b74325f.html" target="element"> Almacenamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43494530db58415a870700eebcc07bfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43494530db58415a870700eebcc07bfd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html" target="element"> Bus de comunicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-f99dda6dfc7a4ca588c1a94436137307.html" target="element"> Gesti&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a614331a9004fd4bb9e01b9304ed350.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a614331a9004fd4bb9e01b9304ed350.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html" target="element"> Bus de comunicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-f978b91644e94ccc8686b33ac419e604.html" target="element"> Distribuci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03f6931b6919484c8cab4b5fe5c326c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03f6931b6919484c8cab4b5fe5c326c5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c62bbde956bb42eabdbf270bfb951728.html" target="element"> Bus de comunicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-49356a9e44ef4abb946a06f5dce6eb82.html" target="element"> Captura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8fc21aebbf7c45f5960c40a8f19a03b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fc21aebbf7c45f5960c40a8f19a03b4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0826bdf617cc4a668f42f075652d62eb.html" target="element"> Directorio activo </a> </td>
																		<td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element"> Infraestructura SGDEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-49ed166892b24313a5a415073cd39bbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49ed166892b24313a5a415073cd39bbb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-280e51b9af554c6488c24b474df79c96.html" target="element"> Correo electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element"> Infraestructura SGDEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e13cc8c7a5344a2e97acb2d5d50a9279.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e13cc8c7a5344a2e97acb2d5d50a9279.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-47ef0128c0ad4eb8b517314b4b872e37.html" target="element"> Dispositivos de lectura QR </a> </td>
																		<td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element"> Infraestructura SGDEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0e12705e3f6a462391335f2dbeac9666.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e12705e3f6a462391335f2dbeac9666.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4ee4f8226a154e3dad1f919332c2b2c6.html" target="element"> Sistema de archivos </a> </td>
																		<td> <a href="../elements/id-8f2b7d50eab949fdb85d7843935f5a79.html" target="element"> Infraestructura de almacenamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73d3c879230a45149120d944dc642b92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73d3c879230a45149120d944dc642b92.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4ee4f8226a154e3dad1f919332c2b2c6.html" target="element"> Sistema de archivos </a> </td>
																		<td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element"> Infraestructura SGDEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e986b9a3c379471d9bdd54a78e0470f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e986b9a3c379471d9bdd54a78e0470f0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8f2b7d50eab949fdb85d7843935f5a79.html" target="element"> Infraestructura de almacenamiento </a> </td>
																		<td> <a href="../elements/id-cd19431487314ab2b593af8c1f39cb16.html" target="element"> Bus de almacenamiento </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-138bda826e72469ca903586452736bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-138bda826e72469ca903586452736bcd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-473aa09c5b5b4834b39a9c25cda272c9.html" target="element"> Bases de datos </a> </td>
																		<td> <a href="../elements/id-5bcfce71923949e1bf886a330122116c.html" target="element"> Infraestructura SGDEA </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>