<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2. Servicios y aplicaciones SGDEA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2. Servicios y aplicaciones SGDEA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-767a76cd81264f619e5f71bd753f3a5f.png" alt="2. Servicios y aplicaciones SGDEA" usemap="#id-767a76cd81264f619e5f71bd753f3a5fmap"/>
			   <map name="id-767a76cd81264f619e5f71bd753f3a5fmap">
				  				<area shape="rect" coords="583,700,703,755" href="../elements/id-29ac757b964f495e81d6dca9c9d557de.html"  target="element">
				  				<area shape="rect" coords="451,700,571,755" href="../elements/id-d82a61c9f9774a0089e911fd00b14eb0.html"  target="element">
				  				<area shape="rect" coords="451,760,571,815" href="../elements/id-07ccf136c2e0403f97ab35fc77469542.html"  target="element">

				  		<area shape="rect" coords="403,664,728,845" href="../elements/id-12d28682758f4e84a9dd0ccae9047a89.html"  target="element">
				          <area shape="rect" coords="10,10,243,113" href="../objects/id-1cfd2188d7c04552ae9794e2b653514f.html" target="element" >
				  				<area shape="rect" coords="722,1252,842,1307" href="../elements/id-2c032d578e21423eaa8dd820f8046e2d.html"  target="element">
				  				<area shape="rect" coords="722,1192,842,1247" href="../elements/id-f3c86a501fe04da9abaa5e390dac62bf.html"  target="element">
				  				<area shape="rect" coords="722,1132,842,1187" href="../elements/id-2b8f125fe5e14dccb0da296d3729d04d.html"  target="element">
				  				<area shape="rect" coords="722,1072,842,1127" href="../elements/id-cc71bf54dcc2486595d80c799bdab715.html"  target="element">
				  				<area shape="rect" coords="722,1012,842,1067" href="../elements/id-c2d93708332149f096c88a73cbd98ec2.html"  target="element">
				  				<area shape="rect" coords="722,952,842,1007" href="../elements/id-e27e50fde0b049d5a1bf12708fd4d1b1.html"  target="element">

				  		<area shape="rect" coords="686,916,866,1372" href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html"  target="element">
				  		<area shape="rect" coords="181,760,301,815" href="../elements/id-981856a9f152437c9e71c40d6d651333.html"  target="element">
				  		<area shape="rect" coords="242,688,375,743" href="../elements/id-483c0424539649ec937ddde003037d81.html"  target="element">
				  		<area shape="rect" coords="111,688,231,743" href="../elements/id-8cce24940a434b7883b7c60b23a1a227.html"  target="element">
				  		<area shape="rect" coords="506,1072,626,1127" href="../elements/id-7abe92b3510443a1ab3d44554c8eb691.html"  target="element">
				  				<area shape="rect" coords="506,1012,626,1067" href="../elements/id-895bb489a352427ebce08a01fc072202.html"  target="element">
				  				<area shape="rect" coords="506,952,626,1007" href="../elements/id-23713bb6558844978882ced1dde1852d.html"  target="element">

				  		<area shape="rect" coords="470,916,662,1204" href="../elements/id-a1ef25a264f8434182319231cc25ae39.html"  target="element">
				  				<area shape="rect" coords="290,1192,410,1247" href="../elements/id-66818ea5ed424fd99167c3f589a34d12.html"  target="element">
				  				<area shape="rect" coords="290,1132,410,1187" href="../elements/id-e2ec78d27cf54b5bb532fc75b82692fe.html"  target="element">
				  				<area shape="rect" coords="290,1072,410,1127" href="../elements/id-239c8fe51c3849c49376adf7e18b21cc.html"  target="element">
				  				<area shape="rect" coords="290,1012,410,1067" href="../elements/id-cfb43400359943379688e078ae0f3d7a.html"  target="element">
				  				<area shape="rect" coords="290,952,410,1007" href="../elements/id-765cc9dad26b444aab95ebc2057fb1eb.html"  target="element">

				  		<area shape="rect" coords="254,916,446,1288" href="../elements/id-904acd0d225146fa9796337f5dc780e6.html"  target="element">
				  				<area shape="rect" coords="75,1312,195,1367" href="../elements/id-94ff9bf7579c48959d00885d6031ef51.html"  target="element">
				  				<area shape="rect" coords="75,1132,195,1187" href="../elements/id-1f60053afe7a409c8b9e1eb6ace12d3b.html"  target="element">
				  				<area shape="rect" coords="75,1252,195,1307" href="../elements/id-854c5d76599447da963d5ec28ffc10d2.html"  target="element">
				  				<area shape="rect" coords="75,1192,195,1247" href="../elements/id-bdc18fe228db4a58bae446fbe0418e62.html"  target="element">
				  				<area shape="rect" coords="75,1072,195,1127" href="../elements/id-30387f7c0bdc44238fdeab53de71b956.html"  target="element">
				  				<area shape="rect" coords="75,1012,195,1067" href="../elements/id-9039ee64b6d141ce9b0db501f814b210.html"  target="element">
				  				<area shape="rect" coords="75,952,195,1007" href="../elements/id-5c3a14ccbbcb420fa563bb868e8c1611.html"  target="element">

				  		<area shape="rect" coords="39,916,231,1396" href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html"  target="element">
				  				<area shape="rect" coords="529,184,649,239" href="../elements/id-af78c3f0bc624684ba306de80cef00a4.html"  target="element">

				  		<area shape="rect" coords="445,148,662,269" href="../elements/id-2b48a90a5f634589b15b8dbdf62e0b0e.html"  target="element">
				  				<area shape="rect" coords="280,460,413,515" href="../elements/id-0d6f9126684d47098b09892e31432b59.html"  target="element">

				  		<area shape="rect" coords="256,424,429,545" href="../elements/id-07d96e6776df479ea9aceba958533053.html"  target="element">
				  				<area shape="rect" coords="757,244,877,299" href="../elements/id-c7bc56ca976b41f4b77b5e79a10d9424.html"  target="element">
				  				<area shape="rect" coords="757,184,877,239" href="../elements/id-8fb2dfd0a3e74bc6b1f8d65751ff3a35.html"  target="element">

				  		<area shape="rect" coords="673,148,890,341" href="../elements/id-243b2b464ab14b688aceff389843b6b3.html"  target="element">
				  				<area shape="rect" coords="280,316,400,371" href="../elements/id-8848f8eeb20847c4921f2c0e22d036c8.html"  target="element">
				  				<area shape="rect" coords="280,244,400,299" href="../elements/id-a3a0963ba4cd470c91d1a0d8777197ad.html"  target="element">
				  				<area shape="rect" coords="280,184,400,239" href="../elements/id-e2c91ffdcbf6412484e2954d87e0a727.html"  target="element">

				  		<area shape="rect" coords="256,148,430,401" href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html"  target="element">
				  				<area shape="rect" coords="63,316,220,389" href="../elements/id-a46921feacf04bd79e3c17ea4cade34d.html"  target="element">
				  				<area shape="rect" coords="63,400,220,461" href="../elements/id-54f21bc2c22944e49e9020e8836ab083.html"  target="element">
				  				<area shape="rect" coords="63,472,220,527" href="../elements/id-c416970e25274eb0a559406edd9c8626.html"  target="element">
				  				<area shape="rect" coords="63,244,220,305" href="../elements/id-70ca28ae6c484d199ddaab3a79352543.html"  target="element">
				  				<area shape="rect" coords="63,184,220,239" href="../elements/id-807bcfa424ea48d5b27083c24f74f15a.html"  target="element">

				  		<area shape="rect" coords="39,148,243,569" href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
											    <td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-807bcfa424ea48d5b27083c24f74f15a.html" target="element"> Creaci&#243;n y captura de contenidos </a> </td>
													    <td> <a href="../elements/id-807bcfa424ea48d5b27083c24f74f15a.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70ca28ae6c484d199ddaab3a79352543.html" target="element"> Indexaci&#243;n de contenido y documentos </a> </td>
													    <td> <a href="../elements/id-70ca28ae6c484d199ddaab3a79352543.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c416970e25274eb0a559406edd9c8626.html" target="element"> Procesamiento de im&#225;genes </a> </td>
													    <td> <a href="../elements/id-c416970e25274eb0a559406edd9c8626.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54f21bc2c22944e49e9020e8836ab083.html" target="element"> Clasificaci&#243;n de contenido y documentos </a> </td>
													    <td> <a href="../elements/id-54f21bc2c22944e49e9020e8836ab083.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a46921feacf04bd79e3c17ea4cade34d.html" target="element"> B&#250;squeda y recuperaci&#243;n de contenido y recuperaci&#243;n </a> </td>
													    <td> <a href="../elements/id-a46921feacf04bd79e3c17ea4cade34d.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html" target="element"> Gesti&#243;n </a> </td>
											    <td> <a href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e2c91ffdcbf6412484e2954d87e0a727.html" target="element"> Flujos de trabajo </a> </td>
													    <td> <a href="../elements/id-e2c91ffdcbf6412484e2954d87e0a727.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a3a0963ba4cd470c91d1a0d8777197ad.html" target="element"> Edici&#243;n y revisi&#243;n de documentos </a> </td>
													    <td> <a href="../elements/id-a3a0963ba4cd470c91d1a0d8777197ad.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8848f8eeb20847c4921f2c0e22d036c8.html" target="element"> Administraci&#243;n de metadatos </a> </td>
													    <td> <a href="../elements/id-8848f8eeb20847c4921f2c0e22d036c8.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-243b2b464ab14b688aceff389843b6b3.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-243b2b464ab14b688aceff389843b6b3.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8fb2dfd0a3e74bc6b1f8d65751ff3a35.html" target="element"> Repositorios </a> </td>
													    <td> <a href="../elements/id-8fb2dfd0a3e74bc6b1f8d65751ff3a35.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c7bc56ca976b41f4b77b5e79a10d9424.html" target="element"> Clasificaci&#243;n </a> </td>
													    <td> <a href="../elements/id-c7bc56ca976b41f4b77b5e79a10d9424.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-07d96e6776df479ea9aceba958533053.html" target="element"> Preservaci&#243;n </a> </td>
											    <td> <a href="../elements/id-07d96e6776df479ea9aceba958533053.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0d6f9126684d47098b09892e31432b59.html" target="element"> Pol&#237;ticas y est&#225;ndares de preservaci&#243;n </a> </td>
													    <td> <a href="../elements/id-0d6f9126684d47098b09892e31432b59.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2b48a90a5f634589b15b8dbdf62e0b0e.html" target="element"> Entrega </a> </td>
											    <td> <a href="../elements/id-2b48a90a5f634589b15b8dbdf62e0b0e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-af78c3f0bc624684ba306de80cef00a4.html" target="element"> Distribuci&#243;n </a> </td>
													    <td> <a href="../elements/id-af78c3f0bc624684ba306de80cef00a4.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
											    <td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5c3a14ccbbcb420fa563bb868e8c1611.html" target="element"> Producci&#243;n </a> </td>
													    <td> <a href="../elements/id-5c3a14ccbbcb420fa563bb868e8c1611.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9039ee64b6d141ce9b0db501f814b210.html" target="element"> Extracci&#243;n </a> </td>
													    <td> <a href="../elements/id-9039ee64b6d141ce9b0db501f814b210.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30387f7c0bdc44238fdeab53de71b956.html" target="element"> Lectura </a> </td>
													    <td> <a href="../elements/id-30387f7c0bdc44238fdeab53de71b956.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdc18fe228db4a58bae446fbe0418e62.html" target="element"> Digitalizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-bdc18fe228db4a58bae446fbe0418e62.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-854c5d76599447da963d5ec28ffc10d2.html" target="element"> Gestor de correo electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-854c5d76599447da963d5ec28ffc10d2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f60053afe7a409c8b9e1eb6ace12d3b.html" target="element"> Clasificaci&#243;n </a> </td>
													    <td> <a href="../elements/id-1f60053afe7a409c8b9e1eb6ace12d3b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94ff9bf7579c48959d00885d6031ef51.html" target="element"> Procesador de texto </a> </td>
													    <td> <a href="../elements/id-94ff9bf7579c48959d00885d6031ef51.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
											    <td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-765cc9dad26b444aab95ebc2057fb1eb.html" target="element"> Administraci&#243;n documental </a> </td>
													    <td> <a href="../elements/id-765cc9dad26b444aab95ebc2057fb1eb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cfb43400359943379688e078ae0f3d7a.html" target="element"> Tr&#225;mite y organizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-cfb43400359943379688e078ae0f3d7a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-239c8fe51c3849c49376adf7e18b21cc.html" target="element"> Accesos </a> </td>
													    <td> <a href="../elements/id-239c8fe51c3849c49376adf7e18b21cc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e2ec78d27cf54b5bb532fc75b82692fe.html" target="element"> Metadatos </a> </td>
													    <td> <a href="../elements/id-e2ec78d27cf54b5bb532fc75b82692fe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-66818ea5ed424fd99167c3f589a34d12.html" target="element"> Versiones </a> </td>
													    <td> <a href="../elements/id-66818ea5ed424fd99167c3f589a34d12.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a1ef25a264f8434182319231cc25ae39.html" target="element"> Distribuci&#243;n </a> </td>
											    <td> <a href="../elements/id-a1ef25a264f8434182319231cc25ae39.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-23713bb6558844978882ced1dde1852d.html" target="element"> Difusi&#243;n y consulta </a> </td>
													    <td> <a href="../elements/id-23713bb6558844978882ced1dde1852d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-895bb489a352427ebce08a01fc072202.html" target="element"> Entrega </a> </td>
													    <td> <a href="../elements/id-895bb489a352427ebce08a01fc072202.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7abe92b3510443a1ab3d44554c8eb691.html" target="element"> Navegaci&#243;n y visualizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-7abe92b3510443a1ab3d44554c8eb691.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8cce24940a434b7883b7c60b23a1a227.html" target="element"> Gesti&#243;n de contenidos (WCM) </a> </td>
											    <td> <a href="../elements/id-8cce24940a434b7883b7c60b23a1a227.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-483c0424539649ec937ddde003037d81.html" target="element"> Gesti&#243;n de procesos de negocio (BPM) </a> </td>
											    <td> <a href="../elements/id-483c0424539649ec937ddde003037d81.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-981856a9f152437c9e71c40d6d651333.html" target="element"> Gesti&#243;n de flujos (WFM) </a> </td>
											    <td> <a href="../elements/id-981856a9f152437c9e71c40d6d651333.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e27e50fde0b049d5a1bf12708fd4d1b1.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-e27e50fde0b049d5a1bf12708fd4d1b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c2d93708332149f096c88a73cbd98ec2.html" target="element"> Foliaci&#243;n </a> </td>
													    <td> <a href="../elements/id-c2d93708332149f096c88a73cbd98ec2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc71bf54dcc2486595d80c799bdab715.html" target="element"> Indexaci&#243;n </a> </td>
													    <td> <a href="../elements/id-cc71bf54dcc2486595d80c799bdab715.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b8f125fe5e14dccb0da296d3729d04d.html" target="element"> Metadatos </a> </td>
													    <td> <a href="../elements/id-2b8f125fe5e14dccb0da296d3729d04d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3c86a501fe04da9abaa5e390dac62bf.html" target="element"> Firmas digitales y electr&#243;nicas </a> </td>
													    <td> <a href="../elements/id-f3c86a501fe04da9abaa5e390dac62bf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c032d578e21423eaa8dd820f8046e2d.html" target="element"> Estampas cronol&#243;gicas </a> </td>
													    <td> <a href="../elements/id-2c032d578e21423eaa8dd820f8046e2d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-1cfd2188d7c04552ae9794e2b653514f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1cfd2188d7c04552ae9794e2b653514f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-12d28682758f4e84a9dd0ccae9047a89.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
											    <td> <a href="../elements/id-12d28682758f4e84a9dd0ccae9047a89.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-07ccf136c2e0403f97ab35fc77469542.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
													    <td> <a href="../elements/id-07ccf136c2e0403f97ab35fc77469542.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d82a61c9f9774a0089e911fd00b14eb0.html" target="element"> Manejo de documentos (DM) </a> </td>
													    <td> <a href="../elements/id-d82a61c9f9774a0089e911fd00b14eb0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29ac757b964f495e81d6dca9c9d557de.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
													    <td> <a href="../elements/id-29ac757b964f495e81d6dca9c9d557de.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-15a4b662e7c34359942aed362676170b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15a4b662e7c34359942aed362676170b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-a46921feacf04bd79e3c17ea4cade34d.html" target="element"> B&#250;squeda y recuperaci&#243;n de contenido y recuperaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b4c254d77264f60b304b4927eca531f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b4c254d77264f60b304b4927eca531f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-c416970e25274eb0a559406edd9c8626.html" target="element"> Procesamiento de im&#225;genes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-184be45ef0ba4570a5be9725de23b65d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-184be45ef0ba4570a5be9725de23b65d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-54f21bc2c22944e49e9020e8836ab083.html" target="element"> Clasificaci&#243;n de contenido y documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bfca2ab49a084cb586e68053e23cd278.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfca2ab49a084cb586e68053e23cd278.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-70ca28ae6c484d199ddaab3a79352543.html" target="element"> Indexaci&#243;n de contenido y documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f409e033ca0451cbb38098c9a5d48f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f409e033ca0451cbb38098c9a5d48f8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-807bcfa424ea48d5b27083c24f74f15a.html" target="element"> Creaci&#243;n y captura de contenidos </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d802af3a688d449ea4b3f9231f6a434e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d802af3a688d449ea4b3f9231f6a434e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-a3a0963ba4cd470c91d1a0d8777197ad.html" target="element"> Edici&#243;n y revisi&#243;n de documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92585d92be7745be95830ddf82979c6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92585d92be7745be95830ddf82979c6d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-8848f8eeb20847c4921f2c0e22d036c8.html" target="element"> Administraci&#243;n de metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7295f86ac3534a4e8b3401eb9de7f91f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7295f86ac3534a4e8b3401eb9de7f91f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-e2c91ffdcbf6412484e2954d87e0a727.html" target="element"> Flujos de trabajo </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-10db0996ea8e4bb580bc12e279843072.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10db0996ea8e4bb580bc12e279843072.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-243b2b464ab14b688aceff389843b6b3.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-8fb2dfd0a3e74bc6b1f8d65751ff3a35.html" target="element"> Repositorios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d60e6225ea5c44388506d3245695c822.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d60e6225ea5c44388506d3245695c822.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-243b2b464ab14b688aceff389843b6b3.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-c7bc56ca976b41f4b77b5e79a10d9424.html" target="element"> Clasificaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-df29ca0031024488abe6558d7d3f0802.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df29ca0031024488abe6558d7d3f0802.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-07d96e6776df479ea9aceba958533053.html" target="element"> Preservaci&#243;n </a> </td>
																		<td> <a href="../elements/id-0d6f9126684d47098b09892e31432b59.html" target="element"> Pol&#237;ticas y est&#225;ndares de preservaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0b7df14311ce47778671cea7a327b352.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b7df14311ce47778671cea7a327b352.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2b48a90a5f634589b15b8dbdf62e0b0e.html" target="element"> Entrega </a> </td>
																		<td> <a href="../elements/id-af78c3f0bc624684ba306de80cef00a4.html" target="element"> Distribuci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b524fd2b505f4cfe8934aec76a55a124.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b524fd2b505f4cfe8934aec76a55a124.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-9039ee64b6d141ce9b0db501f814b210.html" target="element"> Extracci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89fe6cb52d6740f0b0822a97019df920.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89fe6cb52d6740f0b0822a97019df920.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-bdc18fe228db4a58bae446fbe0418e62.html" target="element"> Digitalizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a179b2e751644168343880569930515.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a179b2e751644168343880569930515.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-5c3a14ccbbcb420fa563bb868e8c1611.html" target="element"> Producci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a107c83fdf51418da802def124a0d86d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a107c83fdf51418da802def124a0d86d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-8cce24940a434b7883b7c60b23a1a227.html" target="element"> Gesti&#243;n de contenidos (WCM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa814aca2a0949a4b9ec00dae27cb9ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa814aca2a0949a4b9ec00dae27cb9ee.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-94ff9bf7579c48959d00885d6031ef51.html" target="element"> Procesador de texto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4aaba531522481cbf956a52fff264f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4aaba531522481cbf956a52fff264f1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-1f60053afe7a409c8b9e1eb6ace12d3b.html" target="element"> Clasificaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d3d8077161c456694ea512b3b31c587.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d3d8077161c456694ea512b3b31c587.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-30387f7c0bdc44238fdeab53de71b956.html" target="element"> Lectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-499014fca9a6471ca7253eeb20ed2290.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-499014fca9a6471ca7253eeb20ed2290.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a8f8837baba446a49ae08bfd41daeb74.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-854c5d76599447da963d5ec28ffc10d2.html" target="element"> Gestor de correo electr&#243;nico </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1810661e84f34c01aed50936c6336a9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1810661e84f34c01aed50936c6336a9b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-483c0424539649ec937ddde003037d81.html" target="element"> Gesti&#243;n de procesos de negocio (BPM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a22b3c5e1dde4b228ee19418b48858dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a22b3c5e1dde4b228ee19418b48858dc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-981856a9f152437c9e71c40d6d651333.html" target="element"> Gesti&#243;n de flujos (WFM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ccae2b9200a4e2e8693bdbde4d4ef37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ccae2b9200a4e2e8693bdbde4d4ef37.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-cfb43400359943379688e078ae0f3d7a.html" target="element"> Tr&#225;mite y organizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19be1092cc9b4437bb84fb9bd36d0559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19be1092cc9b4437bb84fb9bd36d0559.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-239c8fe51c3849c49376adf7e18b21cc.html" target="element"> Accesos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c1668f78ece49e39e6eaec1922d320b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c1668f78ece49e39e6eaec1922d320b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-e2ec78d27cf54b5bb532fc75b82692fe.html" target="element"> Metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7f1851bd0bf470dae7167c13baeafcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7f1851bd0bf470dae7167c13baeafcc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-66818ea5ed424fd99167c3f589a34d12.html" target="element"> Versiones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f0ba616fff34e0bb3e4701b78bc8329.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f0ba616fff34e0bb3e4701b78bc8329.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-904acd0d225146fa9796337f5dc780e6.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-765cc9dad26b444aab95ebc2057fb1eb.html" target="element"> Administraci&#243;n documental </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f49305b45937407f8413e89b9c44c861.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f49305b45937407f8413e89b9c44c861.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-a1ef25a264f8434182319231cc25ae39.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-07ccf136c2e0403f97ab35fc77469542.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8ef583c6f94484a9827c1df0302b337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8ef583c6f94484a9827c1df0302b337.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-a1ef25a264f8434182319231cc25ae39.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-d82a61c9f9774a0089e911fd00b14eb0.html" target="element"> Manejo de documentos (DM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-902a6660b9684400999dafe9e390d475.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-902a6660b9684400999dafe9e390d475.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a1ef25a264f8434182319231cc25ae39.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-23713bb6558844978882ced1dde1852d.html" target="element"> Difusi&#243;n y consulta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60efcc596a604f3aa74644e8648b33b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60efcc596a604f3aa74644e8648b33b5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a1ef25a264f8434182319231cc25ae39.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-895bb489a352427ebce08a01fc072202.html" target="element"> Entrega </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0913e98480b845a8ac212af8e003baf3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0913e98480b845a8ac212af8e003baf3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-a1ef25a264f8434182319231cc25ae39.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-29ac757b964f495e81d6dca9c9d557de.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-12fb7fd0cb584eec9d3277cde382b7b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12fb7fd0cb584eec9d3277cde382b7b8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8cce24940a434b7883b7c60b23a1a227.html" target="element"> Gesti&#243;n de contenidos (WCM) </a> </td>
																		<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd7f9f4228884ce18a4681fabcf68736.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd7f9f4228884ce18a4681fabcf68736.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-483c0424539649ec937ddde003037d81.html" target="element"> Gesti&#243;n de procesos de negocio (BPM) </a> </td>
																		<td> <a href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html" target="element"> Gesti&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c379b8354cd4768b8df180e01de40b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c379b8354cd4768b8df180e01de40b9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-981856a9f152437c9e71c40d6d651333.html" target="element"> Gesti&#243;n de flujos (WFM) </a> </td>
																		<td> <a href="../elements/id-2dfbc1a4d83544c38e3ba8d3e45f25bf.html" target="element"> Gesti&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a1ae27973464b9d8a7b305673fabc5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a1ae27973464b9d8a7b305673fabc5b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-e27e50fde0b049d5a1bf12708fd4d1b1.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cb4d856db104150802ff6221b5ec355.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cb4d856db104150802ff6221b5ec355.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-243b2b464ab14b688aceff389843b6b3.html" target="element"> Almacenamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2cd4e53d467445fb8f35df9d591979ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cd4e53d467445fb8f35df9d591979ec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-f3c86a501fe04da9abaa5e390dac62bf.html" target="element"> Firmas digitales y electr&#243;nicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b193d8021b2a4540a2b04d49c909aaef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b193d8021b2a4540a2b04d49c909aaef.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-2b8f125fe5e14dccb0da296d3729d04d.html" target="element"> Metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-980b518e0d2d4d7bac185b1a519718bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-980b518e0d2d4d7bac185b1a519718bc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-cc71bf54dcc2486595d80c799bdab715.html" target="element"> Indexaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a9a308ae06146d791fed1ed65785b8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a9a308ae06146d791fed1ed65785b8e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-c2d93708332149f096c88a73cbd98ec2.html" target="element"> Foliaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c81f0d73611b4b1faf24ece29200eb85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c81f0d73611b4b1faf24ece29200eb85.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-294938fb1a6b4e0fa788e3ec346ed837.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-2c032d578e21423eaa8dd820f8046e2d.html" target="element"> Estampas cronol&#243;gicas </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-be8d81fd70de4852b08acdde555a2257.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be8d81fd70de4852b08acdde555a2257.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-12d28682758f4e84a9dd0ccae9047a89.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-d82a61c9f9774a0089e911fd00b14eb0.html" target="element"> Manejo de documentos (DM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c5a846d99f94d42a29b8242562e5e2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c5a846d99f94d42a29b8242562e5e2a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-12d28682758f4e84a9dd0ccae9047a89.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-29ac757b964f495e81d6dca9c9d557de.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ffecd9199d804bb3a53a67d12728728a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffecd9199d804bb3a53a67d12728728a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-12d28682758f4e84a9dd0ccae9047a89.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-07ccf136c2e0403f97ab35fc77469542.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d65778778e4a44daa63fc4ad493df535.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d65778778e4a44daa63fc4ad493df535.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-07ccf136c2e0403f97ab35fc77469542.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																				<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8121e02b9efd4354b69ede0c44fd7cc0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8121e02b9efd4354b69ede0c44fd7cc0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-07ccf136c2e0403f97ab35fc77469542.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																				<td> <a href="../elements/id-2b48a90a5f634589b15b8dbdf62e0b0e.html" target="element"> Entrega </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-992af59fcabb4dcca82fa0f28bf70e42.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-992af59fcabb4dcca82fa0f28bf70e42.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-d82a61c9f9774a0089e911fd00b14eb0.html" target="element"> Manejo de documentos (DM) </a> </td>
																				<td> <a href="../elements/id-2b48a90a5f634589b15b8dbdf62e0b0e.html" target="element"> Entrega </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-83bfed404fda4780b1792a568306c9f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-83bfed404fda4780b1792a568306c9f0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-d82a61c9f9774a0089e911fd00b14eb0.html" target="element"> Manejo de documentos (DM) </a> </td>
																				<td> <a href="../elements/id-85d897451f6144e89e627596b0a0c3a7.html" target="element"> Recolecci&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-72fed07396c4466a86dfeaab781ba96b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72fed07396c4466a86dfeaab781ba96b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-29ac757b964f495e81d6dca9c9d557de.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
																				<td> <a href="../elements/id-2b48a90a5f634589b15b8dbdf62e0b0e.html" target="element"> Entrega </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>